/* For old UI */


.account-info__profile-info-product {
  text-indent: -9999px;
  line-height: 0;
}
.account-info__profile-info-product:after {
  content: 'Spotify Premium';
  text-indent: 0;
  display: block;
  line-height: initial;
}

/* For new UI */


/* Context menu upgrade button */
.upgrade-button, button[data-menu-item="upgrade-account"], .main-contextMenu-menuItem a[href="https://www.spotify.com/premium/"], button[id="upgradeAccount"] {
  display: none !important;
}

/* Ad placeholder */
.main-leaderboardComponent-container{
  display: none;
}
/* Upgrade button */
.main-topBar-UpgradeButton {
  display: none;
}

/* Pointer cursors for accessibility */
.show-followButton-button,
.main-dropDown-dropDown,
.x-toggle-wrapper,
.main-playlistEditDetailsModal-closeBtn,
.main-trackList-rowPlayPauseButton,
.main-rootlist-rootlistItemLink:link, .main-rootlist-rootlistItemLink:visited,
.x-sortBox-sortDropdown,
.main-contextMenu-menuItemButton,
.main-trackList-column,
.main-moreButton-button,
.x-downloadButton-button,
.main-playButton-PlayButton,
.main-coverSlotExpandedCollapseButton-chevron,
.main-coverSlotCollapsed-chevron,
.control-button:focus, .control-button:hover,
.main-repeatButton-button,
.main-skipForwardButton-button,
.main-playPauseButton-button,
.main-skipBackButton-button,
.main-shuffleButton-button,
.main-addButton-button,
.progress-bar__slider,
.main-editImageButton-image {
  cursor: pointer;
}

/* Home page ad section */
.desktoproutes-homepage-takeover-ad-hptoComponent-parentContainer{
  display: none !important;
}

/* Remove download button */
.x-downloadButton-DownloadButton{
  display:none;
}

/* Context menu download button */
.main-contextMenu-disabled:not([as=a]) {
  display: none !important;
}


/* For update v1.66+ */


/* Upgrade button */
.PzcmS_Z8j0D6n3ZEmv20[aria-label="Upgrade to Premium"] {
  display: none !important
}

/* Ad placeholder */
.snMc3rl8H2pM9cqkTpQ6 {
  display: none !important
}

/* Context menu upgrade button */
.tGu6COgM3S0NqMyh5Jx0 a[href="https://www.spotify.com/premium/"] {
  display: none !important
}

/* Download button */
._GVuKFHd7xr1QUKi_aWH {
  display: none !important
}

/* Context menu download button */
._qjkLyY1fy0hwCfzDZP7[aria-disabled=true] {
  display: none !important
}

/* Find more button scale on hover */
.tJAIYSfsDs3HsXDAPenF:hover {
  transform: scale(1.06)
}

/* Pointer cursors for accessibility */
.OBaPDV8g5lhQbNPmIEwf,
._S0gp4_8E3h4YCh9EAY9,
._qjkLyY1fy0hwCfzDZP7,
.Xo36XRWGIbAh4SIj9FQB,
.OSNOtcFz_LbegO1zggsb,
.vBPFl8zuUaCexgJTw8Uc,
.gro_tSi7cwspepH0as03,
.vwGw2RO2v__qDU_9c5PE,
.__1BGhJvHnvqYTPyG074,
.h1OzWpjBctL_0cZqc4_w,
.kyn0AY4_gXWvbdivdFgP,
.kJVSjS2_BaEzRIoxwEhP,
.mnhCDMSoY7L0E85V51mj,
.QzuziJ2jGf1gnQA0IAU4,
.jn05jgnCWyQjLZKqyKFa,
.YFghzhgfbeZjLqvWpGN3,
.XP_gp8Z91Ji6qbery2w3,
._1bg4_fL__odhCd6G_B2,
.tJAIYSfsDs3HsXDAPenF,
._xAwo5THLGLKCTj5z4fF,
.hzuVs5WHF7XZSJtOi_9H,
.tIriT4RktlpCPFsZWXn2,
.bC6V9kuel2ZewnjMAtZm,
.ipxcyIaAWQfeUHO468Os,
._kySQxSksHLKYgofFfhl {
  cursor: pointer !important
}

/* Remove unnatural padding between create playlist and library button */
.u7oC25XjY_zFHiqpit_W {
  margin-top: 0 !important
}