.upgrade-button, button[data-menu-item="upgrade-account"], button[id="upgradeAccount"] {
  display: none !important;
}

.account-info__profile-info-product {
  text-indent: -9999px;
  line-height: 0;
}
.account-info__profile-info-product:after {
  content: 'Spotify Premium';
  text-indent: 0;
  display: block;
  line-height: initial;
}

/* For new UI */
.main-leaderboardComponent-container{
  display: none;
}
.main-topBar-UpgradeButton {
  display: none;
}

#context-menu > div > ul > li:nth-child(4) > a { /* Replace the 4 with any other number in the menu if you use some extension which adds a new menu to the dropdown list */
  display: none !important;
}

.main-trackList-rowPlayPauseButton {
  width: 22px !important;
  cursor: pointer !important;
  margin-left: -3px !important;
}

div.GlueDropTarget.personal-library {
  padding: none !important;
  padding-right: 25px !important;
}
